<header class="header">
    <a href="/" class="headerlogo">Admin Panel</a>
  
    <nav class="headernav">
      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>
        <li>
          <a href="/about" class="">About</a>
        </li>
        <li>
          <a href="/contact" class="">Contact</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="headerbutton">
      <a href="/logout">
        Logout
      </a>
    </div>
  
  </header>