<div class="author">
    <h1 class="authorHeading">Hi, I am Christine.</h1>
    <p class="authorBody"> This is a blog about random life things</p>
</div>
<div class="headerimg">
    <img src="/img/cartoonme.png" alt="creator's avatar" class="hero-image" width="40%" height="auto">
</div>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
 
</section>