<div class="author">
    <h1 class="authorHeading">Hi, I am Christine.</h1>
    <p class="authorBody"> This is a blog about random life things</p>
</div>
<div class="headerimg">
    <img src="/img/cartoonme.png" alt="creator's avatar" class="hero-image" width="40%" height="auto">
</div>

<section class="articles">
  <h2 class="articlesHeading">Latest Posts</h2>

  <ul class="articleList">

      <li>
        <a href="#">
          <span> post title </span>
          <span class="articleList__date">Date</span>
        </a>
      </li>

  </ul>


    <a href="#" class="pagination">&lt; View Older Posts</a>

 

  



</section>